PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://user:password@ep-example-host.aws.neon.tech/neondb?sslmode=require
GROQ_API_KEY=your_groq_api_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
JWT_SECRET=your_development_jwt_secret_key